{% extends 'base.html.twig' %}

{% block title %}News!{% endblock %}

{% block body %}
    <table id="articles" class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>More</th>
        </tr>
        </thead>
        <tbody>
        {% for article in my_pager.currentPageResults %}
            <tr>
                <td>{{ article.title }}</td>
                <td>
                    <a href="/article/{{ article.id }}" class="btn btn-light">...</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagerfanta">
        {#{{ pagerfanta(my_pager) }}#}
    </div>
{% endblock %}